<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Home Page <%= 5+93+2 %>
    </h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum totam dolor eligendi ea asperiores eaque quae
        velit, minima ad rerum doloribus blanditiis adipisci saepe. Ad natus repellendus aspernatur accusamus. Aliquam.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis accusamus, architecto totam veritatis
        voluptates itaque hic ratione nesciunt, tempora delectus perspiciatis non quam exercitationem, sunt nihil
        voluptate eum quia voluptatibus! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis harum ab
        pariatur voluptatem quo sit minima quibusdam recusandae error fuga. Vero, recusandae! Earum esse dicta, iste
        accusantium repellat eum sequi?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo nemo explicabo atque ea, cupiditate facere magnam
        corrupti esse ut dicta libero sint est mollitia consequuntur sequi nam temporibus fuga illum! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Veniam, eum a et soluta ut atque nulla ipsum voluptates nam repellendus
        eligendi autem ullam eos? Dolorem ex beatae nam voluptatum ratione?</p>
</body>

</html>